body {
    padding-top: 6rem;
}
.navbar-nav, .navbar-nav a {
    font-size: 1.2rem;
}
.jumbotron {
    padding: 0rem;
    background-color: #F5DEB3;
}
.jumbotron h1 {
    padding-top: 3rem;
}
.jumbotron p {
    padding-bottom: 5rem;
}
.lead {
    font-size: 1.5rem;
}
.header {
    border-bottom: 1px solid #e7e7e7;
    padding: 8px 30px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}